{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}



<div{{ attributes.addClass(classes) }}>  

  {# ============================================
  ENCABEZADO HOME
  =============================================== #}
  {% block content %}  

    <section class="row m-0 menuGovCo">

      {# ===== ===== Pantalla para > 768px ===== ===== #}

      <div class="col-3 col-md-2 pt-md-1 px-0 text-center govCo">

        <img src="{{ file_url(content.field_img_govco_encabezado_home[0]['#item'].entity.uri.value) }}" class="img-fluid mt-2 mt-lg-0" />
      
      </div>

      <div class="col-5 col-md-3 pt-1 pr-0 d-xl-none text-center">

        <a href="{{ url('<front>') }}"><img src="{{ file_url(content.field_logo_findeter_negro[0]['#item'].entity.uri.value) }}" class="img-fluid" /></a>
      
      </div>

      {# ============================================
      Menu hamburguesa
      =============================================== #}
      <div class="col-2 col-sm-1 pr-0 d-lg-none">

        <button type="button" id="sidebarCollapseMd" class="btn btn-primary" >
          <i class="fas fa-bars"></i>
        </button>

      </div> 

      <div class="col-2 col-sm-3 col-md-6 col-lg-7 col-xl-10 pr-0">

        {{ drupal_menu('menu-govco') }}

      </div>  

    </section>

    <section class="row m-0 menuPrincipal">

      <div class="col-7 col-sm-5 col-xl-2 p-0 d-none d-xl-block">

        <a href="{{ url('<front>') }}"><img src="{{ file_url(content.field_logo_encabezado_home[0]['#item'].entity.uri.value) }}" class="img-fluid" /></a>

      </div>

      {# ===== ===== Pantalla laptop o mediana 992 hasta 1998.98pxpx ===== ===== #}
      <div class="d-none d-lg-block d-xl-none col-12 p-0">

        {{ drupal_menu('menu-principal') }}

      </div>

      {# ===== ===== Pantalla Grande > 1200px ===== ===== #}
      <div class="d-none d-xl-block col-10 p-0">

        {{ drupal_menu('menu-principal') }}


      </div>

    </section>   
    
    {# ============================================
    Movil y Tablet < 768.98px
    =============================================== #}
    <section class="menuMovil d-lg-none">

      <div class="imgClose">
      
        <a href="{{ url('<front>') }}"><img src="{{ file_url(content.field_logo_encabezado_home[0]['#item'].entity.uri.value) }}" class="img-fluid" /></a>
      
        <button type="button" class="close mr-3">
        
          <span aria-hidden="true">×</span>
        
        </button>

      </div>

      {{ drupal_menu('menu-principal') }}

    </section>

    {# ============================================
    SLIDER
    =============================================== #}    
    {% if path('<current>') == '/inicio' %}

      {{ drupal_view('slider', 'slider_home') }}

    {% endif %}

  {% endblock %}

</div>
