{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'rediscount',
  ]
%}

{# {{ attach_library('slick/slick') }}
{{ attach_library('slick/slick.theme') }} #}
{{ attach_library('findeter_rediscount/rediscount') }}

{%
  set pathUrl = [
    '/entidades-financieras',
  ]
%}

<div{{ attributes.addClass(classes) }}>

  {# ============================================
  MENU GOV CO
  =============================================== #}
  <div class="row m-0 menuGovCo mb-md-5">

    {# ===== ===== Img govco ===== ===== #}
    <div class="col-3 px-0 text-center d-none d-xl-block govCo">

      <a href="{{ urlGovCo[0]['#title'] }}" target="_blank" tabindex="1">
        <img onerror='this.remove();' src="{{ file_url(urlImage[0]['#item'].entity.uri.value) }}" class="img-fluid mt-2 mt-lg-0" />
      </a>

    </div>

    {# ===== ===== Img Logo ===== ===== #}
    <div class="col-9 col-sm-6 col-md-4 col-lg-3 pt-1 px-0 d-xl-none text-center govCo">

      <a href="{{ url('<front>') }}"><img onerror='this.remove();' src="" class="img-fluid" /></a>

    </div>

    <div class="col-2 col-sm-3 col-md-5 col-lg-9 pr-0 d-none d-md-block">

      {{ drupal_menu('menu-govco') }}

    </div>

  </div>

  {# ============================================
  TITULO
  =============================================== #}
  <div class="container px-0 px-md-2">
    <h1{{ title_attributes }} class="title text-white text-center p-3">
      {{ label.0 }}
    </h1>
  </div>

  <div class="container my-5">
    {# ============================================
    MENU
    =============================================== #}
    <nav class="menu mt-3">
      {{ drupal_menu(node.get('field_menu_entities').value[0]['target_id']) }}
    </nav>

    {# ============================================
    INFORMACION DE USO REDESCUENTO
    =============================================== #}
    <section class="info-uses-rediscount mt-5" id="uso-redescuento">

      <div class="description">

        {{ content.field_description_entities.0 }}

      </div>

      <div class="row">

        <div class="col-12 col-md-8">

          <div class="row mt-5 pill-tabs-product">

            <div class="col-12 col-md-3">

              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                {% for key, value in node.field_info_rediscount_entities %}

                  <button class="nav-link {{ loop.first ? 'active': '' }}" id="info-product-{{ key }}-tab" data-toggle="pill" data-target="#info-product-{{ key }}" type="button" role="tab" aria-controls="info-product-{{ key }}" aria-selected="true">{{ content.field_info_rediscount_entities[key]['#paragraph'].field_tittle_product_prgms.value }}</button>

                {% endfor %}

              </div>
            </div>

            <div class="col-12 col-md-9 mt-4 mt-md-0">

              <div class="tab-content" id="v-pills-tabContent">

                {% for key, value in node.field_info_rediscount_entities %}

                <div class="tab-pane fade p-3 {{ loop.first ? 'active show': '' }}" id="info-product-{{ key }}" role="tabpanel" aria-labelledby="info-product-{{ key }}-tab">

                  {{ content.field_info_rediscount_entities[key]['#paragraph'].field_description_prgms.value|raw   }}

                </div>

                {% endfor %}

              </div>

            </div>

          </div>

        </div>

        <div class="col-12 col-md-4 mt-4">
         {{ content.field_video_entities.0 }}
        </div>

      </div>

      <div class="btn-more text-center mt-4"><a href="#" class="btn btn-primary text-white">Consulte con un gerente de cuenta</a></div>

    </section>

    {% if path('<current>') not in pathUrl %}
      {# ============================================
      SECTORES
      =============================================== #}
      {{ drupal_block('findeter_rediscount_sectors') }}
    {% endif %}

    {# ============================================
    FILTRO LINEA DE CREDITO
    =============================================== #}
    <section id="lineas-de-credito">
      {{ drupal_view('rediscount', 'filter_line_credit')}}
    </section>

    {% if path('<current>') in pathUrl %}
      {# ============================================
      TABLA LINEA DE CREDITO
      =============================================== #}
      <section id="comparativo">{{ drupal_view('rediscount', 'table_line_credit')}}</section>
      {# ============================================
      CONSULTA CIIU
      =============================================== #}
      <section class="ciiu mt-5">
       <div class="row">
        <div class="col-6 search-ciiu p-4">

          <p class="h3 text-center text-white">CIIU financiables por Findeter:</p>

          {{ drupal_form('Drupal\\findeter_rediscount\\Form\\CiiuForm') }}

          <div id="response-search-ciiu"></div>

          <div class="loader">
            <div class="sub"></div>
            <div class="sub"></div>
            <div class="sub"></div>
          </div>

          <ul class="text-white mt-3">
           <li>Esta información podrá variar y debe ser consultada según el proyecto a financiar.</li>
           <li>Clasificación Industrial Internacional Uniforme.</li>
          </ul>

          <div class="btn-more text-center mt-3"><a class="btn btn-primary">Consulte con un gerente de cuenta</a></div>

        </div>
        <div class="col-6 image-ciiu pl-0">
          <picture>
            <img src="/themes/custom/webfinde/images/iconos/redescuento/ciiu_images.jpg" class="img-fluid"/>
          </picture>
        </div>
       </div>
      </section>
      {# ============================================
      SECTORES
      =============================================== #}
      {{ drupal_block('findeter_rediscount_sectors') }}
    {% endif %}

    {# ============================================
    PASOS PARA ACCEDER A UN CREDITO FINDETER Y FORMULARIO
    =============================================== #}
    <section class="access-credit-findeter mt-5" id="paso-a-paso">

      <h2 class="text-center py-5">¿Cómo acceder a un crédito de Findeter?</h2>

      <ul class="step-info">

        {% for key, value in node.field_steps_access_credit_prgms %}
         <li class="step-info-item {{ loop.first ? 'active': '' }}">{{ content.field_steps_access_credit_prgms[key] }}</li>
        {% endfor %}

      </ul>

    </section>

    {# ============================================
    INFORMACION DE INTERES
    =============================================== #}
    <section class="info-interest p-3 p-md-5" id="condiciones">

      <h2 class="text-center text-white mb-4">Información de interes</h2>

      <div class="pill-tabs-interest">

        <div class="nav justify-content-between nav-pills mb-4" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
          {% for key, value in node.field_info_interest_entities %}
            <button class="nav-link {{ loop.first ? 'active': '' }}" id="info-interest-{{ key }}-tab" data-toggle="pill" data-target="#info-interest-{{ key }}" type="button" role="tab" aria-controls="info-interest-{{ key }}" aria-selected="true">{{ content.field_info_interest_entities[key]['#paragraph'].field_tittle_product_prgms.value }}</button>
          {% endfor %}
        </div>

        <div class="tab-content" id="v-pills-tabContent">
          {% for key, value in node.field_info_interest_entities %}
          <div class="tab-pane fade p-2 p-md-4 {{ loop.first ? 'active show': '' }}" id="info-interest-{{ key }}" role="tabpanel" aria-labelledby="info-interest-{{ key }}-tab">
            {{ content.field_info_interest_entities[key]['#paragraph'].field_description_prgms.value|raw   }}
          </div>
          {% endfor %}
        </div>

      </div>

    </section>

    {# ============================================
    BANCOS
    =============================================== #}
    {{ drupal_view('rediscount', 'banks_entities_1') }}

    {# mobile #}
    {{ drupal_view('rediscount', 'banks_entities_2') }}

  </div>

</div>
