{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}


<div class="form-encuesta-pqrsd">

  <figure class="w-100">

    <img onerror='this.remove();' src="../themes/custom/webfinde/images/iconos/fondo_cabezote.png" class="img-fluid w-100">

  </figure>  

  <div class="encabezado container">

    <h1 class="tituloEncabezado mt-3">{{ 'Encuesta de satisfacción PQRSD'|t}}</h1>

  </div>

  {{ drupal_breadcrumb() }}

  <div class="container my-5">
    <form{{ attributes }}>

      {{ title_prefix }}          
      {{ children }}
      {{ title_suffix }}

    </form> 
  </div>

</div>
